{
  "env": {
    "node": true
  },
  "rules": {
    "no-bitwise": 2,
    "curly": 2,
    "eqeqeq": 2,
    "indent": [2,2],
    "no-shadow": 2,
    "strict": 2,
    "quotes": [2, "single"],
    "max-depth": [2, 3],
    "max-statements": [2, 15],
    "max-len": [2,100,4],
    "no-underscore-dangle": [2, {
      "allow": [
        "_set",
        "_useLocalCache",
        "_useMethods",
        "_useRemoteCache"
      ]
    }]
  }
}
